headerbar,
.titlebar:not(headerbar) {
  min-height: 34px;
  padding: 0 5px; }

headerbar.default-decoration,
.default-decoration.titlebar {
  min-height: 32px;
  padding: 0 3px; }

headerbar.default-decoration button.titlebutton,
.titlebar.default-decoration button.titlebutton {
  padding: 3px;
  min-width: 18px;
  min-height: 18px;
  margin: 0; }

headerbar button.titlebutton,
.titlebar button.titlebutton {
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  min-width: 18px;
  min-height: 18px;
  padding: 2px;
  margin: 0;  
  border-color: transparent;  
  background-image: none;
  background-color: transparent; }
  headerbar button.titlebutton.close, headerbar button.titlebutton.maximize, headerbar button.titlebutton.minimize,
  .titlebar button.titlebutton.close,
  .titlebar button.titlebutton.maximize,
  .titlebar button.titlebutton.minimize {
    border-radius: 99px;
    background-color: transparent;
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0px; 
    box-shadow:none;}
  headerbar button.titlebutton.close,
  .titlebar button.titlebutton.close {
    padding: 4px;
    color: transparent;
    background-image: url("../assets/window_controls/button-close-normal.png"); }
    headerbar button.titlebutton.close:hover,
    .titlebar button.titlebutton.close:hover {
      transition: all 11ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      box-shadow: 0px 0px 6px 4px alpha(@theme_color, 0.106), 0px 0px 4px 2px alpha(@theme_color, 0.108);
      background-image: url("../assets/window_controls/button-close-hover.png"); }
    headerbar button.titlebutton.close:active,
    .titlebar button.titlebutton.close:active {
    box-shadow: inset 0 0 1px 1px alpha(#220a07, 0.5), 0px 0px 6px 4px alpha(@theme_color, 0.08), 0px 0px 4px 2px alpha(@theme_color, 0.08);
    background-image: linear-gradient(to bottom, mix(#220a07, #ff4d32, 0.02), mix(#220a07, #ff4d32, 0.6));
    border-radius: 99px;
    color: transparent; }
    headerbar button.titlebutton.close:backdrop,
    .titlebar button.titlebutton.close:backdrop {
       box-shadow:none;
       background-size: 26px;
       opacity:1;
       background-image: linear-gradient(to bottom, alpha(mix(#220a07, #ff4d32, 0.5), 0.7), alpha(mix(#220a07, #ff4d32, 0.2), 0.7));}
    headerbar button.titlebutton.close:active:backdrop,
    .titlebar button.titlebutton.close:active:backdrop {
       box-shadow: inset 0 0 1px 1px alpha(#220a07, 0.7);
       background-size: 26px;
       opacity:1;
       background-image: linear-gradient(to bottom, alpha(mix(#220a07, #ff4d32, 0.2), 0.7), alpha(mix(#220a07, #ff4d32, 0.5), 0.7));}
    headerbar button.titlebutton.close:hover:backdrop,
    .titlebar button.titlebutton.close:hover:backdrop {
       box-shadow:none;
       background-size: 26px;
       opacity:1;
       background-image: linear-gradient(to bottom, alpha(mix(#220a07, #ff4d32, 0.8), 0.7), alpha(mix(#220a07, #ff4d32, 0.25), 0.7));}
  headerbar button.titlebutton.minimize, .titlebar button.titlebutton.minimize,
  headerbar button.titlebutton.maximize, .titlebar button.titlebutton.maximize,
  .maximized headerbar button.titlebutton.maximize, .maximized .titlebar button.titlebutton.maximize {
    color: transparent;
    background-size: 26px; }
  headerbar button.titlebutton.minimize,
  .titlebar button.titlebutton.minimize {
    padding: 4px;
    background-image: url("../assets/window_controls/button-minimize.png"); }
  headerbar button.titlebutton.maximize,
  .titlebar button.titlebutton.maximize {
    padding: 4px;
    background-image: url("../assets/window_controls/button-maximize.png"); }
  .maximized headerbar button.titlebutton.maximize,
  .maximized .titlebar button.titlebutton.maximize {
    background-image: url("../assets/window_controls/button-unmaximize.png"); }
    headerbar button.titlebutton.minimize:hover, .titlebar button.titlebutton.minimize:hover,
    headerbar button.titlebutton.maximize:hover, .titlebar button.titlebutton.maximize:hover,
    .maximized headerbar button.titlebutton.maximize:hover, .maximized .titlebar button.titlebutton.maximize:hover {
       transition: all 11ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
       box-shadow: inset 0 0 1px 1px alpha(@theme_color2, 0.7), 0px 0px 6px 4px alpha(@theme_color, 0.07), 0px 0px 4px 2px alpha(@theme_color, 0.07);
       background-size: 26px;
       border-radius: 99px; }
    headerbar button.titlebutton.minimize:hover, 
    .titlebar button.titlebutton.minimize:hover {
       background-image: url("../assets/window_controls/button-minimize-hover.png"), linear-gradient(to bottom, @theme_color12, @theme_color10); }
    headerbar button.titlebutton.maximize:hover, 
    .titlebar button.titlebutton.maximize:hover {
       background-image: url("../assets/window_controls/button-maximize-hover.png"), linear-gradient(to bottom, @theme_color12, @theme_color10); }
    .maximized headerbar button.titlebutton.maximize:hover, 
    .maximized .titlebar button.titlebutton.maximize:hover {
       background-image: url("../assets/window_controls/button-unmaximize-hover.png"), linear-gradient(to bottom, @theme_color12, @theme_color10); }
    headerbar button.titlebutton.maximize:hover:backdrop, 
    headerbar button.titlebutton.minimize:hover:backdrop,
    .titlebar button.titlebutton.maximize:hover:backdrop,
    .titlebar button.titlebutton.minimize:hover:backdrop {
       box-shadow: none;
       background-image: linear-gradient(to bottom, @theme_color11, @theme_color6); }
  headerbar button.titlebutton.maximize:active,
  headerbar button.titlebutton.minimize:active,
  .titlebar button.titlebutton.maximize:active,
  .titlebar button.titlebutton.minimize:active,
  .maximized headerbar button.titlebutton.maximize:active, 
  .maximized .titlebar button.titlebutton.maximize:active {
    box-shadow: inset 0 0 1px 1px alpha(@theme_color2, 0.7), 0px 0px 6px 4px alpha(@theme_color, 0.04), 0px 0px 4px 2px alpha(@theme_color, 0.04);
    background-image: linear-gradient(to bottom, @theme_color6, @theme_color11);
    border-radius: 99px;
    color: transparent; }
  headerbar button.titlebutton.maximize:backdrop,
  headerbar button.titlebutton.minimize:backdrop,
  .titlebar button.titlebutton.maximize:backdrop,
  .titlebar button.titlebutton.minimize:backdrop {
    opacity:1;
    background-image: linear-gradient(to bottom, @theme_color9, @theme_color6);
    border-radius: 99px;
    color: transparent; }
  headerbar button.titlebutton.maximize:active:backdrop,
  headerbar button.titlebutton.minimize:active:backdrop,
  .titlebar button.titlebutton.maximize:active:backdrop,
  .titlebar button.titlebutton.minimize:active:backdrop {
    background-image: linear-gradient(to bottom, @theme_color6, @theme_color9);
    box-shadow: inset 0 0 1px 1px alpha(@theme_color2, 0.7); }
