headerbar,
.titlebar:not(headerbar) {
  min-height: 34px;
  padding: 0 5px; }

headerbar.default-decoration,
.default-decoration.titlebar:not(headerbar) {
  min-height: 32px;
  padding: 0 3px; }

windowcontrols {
  padding: 6px 0;
  border-spacing: 6px; }
  windowcontrols:not(.empty).start:dir(ltr), windowcontrols:not(.empty).end:dir(rtl) {
    margin-right: 7px; }
  windowcontrols:not(.empty).start:dir(rtl), windowcontrols:not(.empty).end:dir(ltr) {
    margin-left: 7px; }
windowcontrols button {
  transition: all 11ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  min-width: 18px;
  min-height: 18px;
  padding: 2px;
  margin: 0;  
  border-color: transparent;  
  background-image: none;
  background-color: transparent; }
  windowcontrols button.close, windowcontrols button.maximize, windowcontrols button.minimize {
    border-radius: 99px;
    background-color: transparent;
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0px; 
    box-shadow:none;}
  windowcontrols button.close {
    padding: 4px;
    color: transparent;
    background-image: url("../assets/window_controls/button-close-normal.png"); }
    windowcontrols button.close:hover {
      color: transparent;
      transition: all 11ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      box-shadow: 0px 0px 8px 1px shade(@theme_color11, 0.9), 0px -3px 8px 1px shade(@theme_color11, 1.1);
      background-image: url("../assets/window_controls/button-close-hover.png"); }
    windowcontrols button.close:active {
      box-shadow: inset 0 0 1px 1px alpha(#220a07, 0.5);
      background-image: linear-gradient(to bottom, mix(#220a07, #ff4d32, 0.02), mix(#220a07, #ff4d32, 0.6));
      border-radius: 99px;
      color: transparent; }
    windowcontrols button.close:backdrop {
      box-shadow:none;
      background-size: 26px;
      opacity:1;
      background-image: linear-gradient(to bottom, alpha(mix(#220a07, #ff4d32, 0.5), 0.7), alpha(mix(#220a07, #ff4d32, 0.2), 0.7));}
    windowcontrols button.close:hover:backdrop {
      box-shadow:none;
      background-size: 26px;
      opacity:1;
      background-image: linear-gradient(to bottom, alpha(mix(#220a07, #ff4d32, 0.8), 0.7), alpha(mix(#220a07, #ff4d32, 0.25), 0.7));}
  windowcontrols button.minimize,
  windowcontrols button.maximize,
  .maximized windowcontrols button.maximize {
    color: transparent;
    background-size: 26px; }
  windowcontrols button.minimize {
    padding: 4px;
    background-image: url("../assets/window_controls/button-minimize.png"),
                linear-gradient(to bottom, transparent, transparent); }
  windowcontrols button.maximize {
    padding: 4px;
    background-image: url("../assets/window_controls/button-maximize.png"),
                linear-gradient(to bottom, transparent, transparent); }
  .maximized windowcontrols button.maximize {
    background-image: url("../assets/window_controls/button-unmaximize.png"),
                linear-gradient(to bottom, transparent, transparent); }
    windowcontrols button.minimize:hover,
    windowcontrols button.maximize:hover,
    .maximized windowcontrols button.maximize:hover {
       color: transparent;
       transition: all 11ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
       box-shadow: inset 0 0 1px 1px alpha(@theme_color2, 0.7), 0px 0px 8px 1px shade(@theme_color11, 0.9), 0px -3px 8px 1px shade(@theme_color11, 1.1);
       background-size: 26px;
       border-radius: 99px; }
    windowcontrols button.minimize:hover {
       background-image: url("../assets/window_controls/button-minimize-hover.png"),
                linear-gradient(to bottom, @theme_color12, @theme_color10); }
    windowcontrols button.maximize:hover {
       background-image: url("../assets/window_controls/button-maximize-hover.png"),
                linear-gradient(to bottom, @theme_color12, @theme_color10); }
    .maximized windowcontrols button.maximize:hover {
       background-image: url("../assets/window_controls/button-unmaximize-hover.png"),
                linear-gradient(to bottom, @theme_color12, @theme_color10); }
    windowcontrols button.maximize:hover:backdrop, 
    windowcontrols button.minimize:hover:backdrop {
       box-shadow: none;
       background-image: linear-gradient(to bottom,  @theme_color11,  @theme_color6); }
  windowcontrols button.maximize:active,
  windowcontrols button.maximize:active:backdrop,
  windowcontrols button.minimize:active,
  windowcontrols button.minimize:active:backdrop,
  .maximized windowcontrols button.maximize:active {
    box-shadow: inset 0 0 1px 1px alpha(@theme_color2, 0.7) ;
    background-image: linear-gradient(to bottom,  @theme_color6,  @theme_color11);
    border-radius: 99px;
    color: transparent; }
  windowcontrols button.maximize:backdrop,
  windowcontrols button.minimize:backdrop {
    opacity:1;
    background-image: linear-gradient(to bottom,  @theme_color9,  @theme_color6);
    border-radius: 99px;
    color: transparent; }
